<div id="footer" class="panel">

  <div class="panel-footer">

	<div class="container-fluid">

	  <div class="row">

		<div class="col-sm-4 box">
		  <p>&copy 2017 Mazzini Lab.</p>
      <p>We are part of the <a href="http://rtc.sfsu.edu/">Estuary & Ocean Science Center (EOS Center - Romberg Tiburon Campus)</a> at <a href="http://www.sfsu.edu/">San Francisco State University</a>.</p>
      <p>  </p><p>
   </div>

		<div class="col-sm-4">

    </div>

		<div class="col-sm-4">
		  <a href="{{ site.url }}{{ site.baseurl }}/contact-us" > Contact us: </a> <br>
      Estuary & Ocean Science Center <br>
      SF State Romberg Tiburon Campus <br>
      3150 Paradise Dr, Bldg 36 <br>
      Tiburon, CA 94920
		</div>

	  </div>

	</div>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
