<div id="footer" class="panel">

  <div class="panel-footer">

	<div class="container-fluid">

	  <div class="row">

		<div class="col-sm-9">
		  <font color="white"><p>&copy 2023 Mazzini Lab.</p>
      <p>We are part of the <a href="https://www.vims.edu/" style="color:white">VIRGINIA INSTITUTE OF MARINE SCIENCE</a> at <a href="http://www.wm.edu/" style="color:white">WILLIAM & MARY </a>.</p>
      </font>
   </div>

		<div class="col-sm-3">
		  <font color="white">Webmaster: Cassia Pianca <br>
      <i class="glyphicon glyphicon-envelope"></i> cpianca@vims.edu
        </font>
		</div>

	  </div>

	</div>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
