---
layout: default
---

<br>

<div id="homeid" class="col-sm-12">
        <div style="text-align: center;">
			<h1><b><p>Welcome to the Coastal Oceanography Lab</p></b></h1>
		</div>

		<br>

		<div class="container-fluid">
		    <div class="row">

		       <div class="col-sm-4" >
		        <a href="http://eoscenter.sfsu.edu/">
		        <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/EOS-int.jpg" style="width:70%; display: block; margin: auto" /></a>
		       </div>

		       <div class="col-sm-4">
		        <a href="http://www.sfsu.edu/"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/SFState_H_rgb.jpg" style="width:70%; display: block; margin: auto"/></a>
		      </div>

		      <div class="col-sm-4">
		        <a href="http://tornado.sfsu.edu/" ><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_ECS.jpg" style="width:70%; display: block; margin: auto"/></a>
		     </div>

		    </div>
		</div>

	{{ content }}
</div>



<div class="container-fluid">
     <div class="row">

     <div class="col-sm-4" >
	     {% include news.html %}
     </div>

     <div class="col-sm-4">
      <a class="twitter-timeline" data-width="400" data-height="800" data-dnt="true" data-link-color="#2B7BB9" href="https://twitter.com/EOS_Center?ref_src=twsrc%5Etfw">Tweets by EOS_Center</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-sm-3">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsanfranciscobaynerr%2F&tabs=timeline&width=340&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="800"></iframe>
    </div>

    </div>
</div>
