---
layout: default
---

<br>

<div id="homeid" class="col-sm-12">
        <div style="text-align: center;">
			<h1><b><p>Welcome to the Coastal Oceanography Lab</p></b></h1>
		</div>

		<br>

		<div class="container-fluid">
		    <div class="row">

		       <div class="col-sm-4" >
		        <a href="http://eoscenter.sfsu.edu/">
		        <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/EOS-int.jpg" style="width:70%; display: block; margin: auto" /></a>
		       </div>

		       <div class="col-sm-4">
		        <a href="http://www.sfsu.edu/"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/SFState_H_rgb.jpg" style="width:70%; display: block; margin: auto"/></a>
		      </div>

		      <div class="col-sm-4">
		        <a href="http://tornado.sfsu.edu/" ><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_ECS.jpg" style="width:70%; display: block; margin: auto"/></a>
		     </div>

		    </div>
		</div>

	{{ content }}
</div>



<div class="container-fluid">
     <div class="row">

     <div class="col-sm-12" >
	     {% include news.html %}
     </div>

    </div>
</div>
