---
layout: default
---

<br>

<div id="homeid" class="col-sm-12">
      <div style="text-align: center;">
			<h1><b><p>Welcome to the Coastal Oceanography Lab</p></b></h1>
		</div>

		<br>

		<div class="container-fluid">
		    <div class="row">

		       <div class="col-sm-6" >
		        <a href="https://www.vims.edu/">
		        <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/vims_jpg_logo_0418.jpg" style="width:75%; display: block; margin: auto" /></a>
            </div>

            <div class="col-sm-6" >
            <a href="https://www.wm.edu/">
            <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/wm_vertical_single_line_full_color.png" style="width:50%; display: block; margin: auto"/></a>
		       </div>

		    </div>
    </div>



</div>

<div id="homeid" class="col-sm-12">
    <div style="text-align: center;">
{{ content }}
</div>
</div>

<div class="container-fluid">
     <div class="row">

     <div class="col-sm-12" >
	     {% include news.html %}
     </div>

    </div>
</div>

</div>
